// bird colors 

$bird-outline: #780116;
$bird-fill: #ffedf0;

$leg-stroke: #666322;
$leg-fill: #FFFCDF;
$back-leg: #666322;

// light base colors
$background-main: #ffffff7d;
$text-main: #999999;
$border-main: #b4b3b3;
$text-hover: #5c5c5c;

// dark base colors

$dark-background-main: #17192c;
$dark-text-p: #cad97c;
$dark-border-main: #cad97c;
$dark-text-hover: #f7ffcf;

