.light {
    .fullObj {
        max-width: 80%;
        height: 100%;
        overflow-y: scroll;
        background-color: transparent;
        display: flex;
    }
    .fullObj p {
        background-color: transparent;
    }
    .mainObj {
        width: 100%;
        height: 100%;
        padding: 5px;
        background-color: #ffffff7d;
        border: 1px solid #b4b3b3;
        border-radius: 25px;
        -moz-border-radius: 15px;
    }

}
.dark {
    .fullObj {
        background-color: transparent;
        display: flex;
        height: 100%;
        width: 100%;
    }
    .fullObj p {
        background-color: transparent;
        color: #cad97c
    }
    .mainObj {
        display: inline;
        padding-bottom: 10px;
        background-color: #3c42218e;
        border: 1px solid #cad97c;
        border-radius: 25px;
        -moz-border-radius: 15px;
        border: 1px solid #cad97c;
        width: 90%;
        overflow-y: scroll;
    }
    .imgbox {
        background-color: transparent;
        height: 85%;
        overflow-y: scroll;
        padding: 5px;
    }
    .imgbox img {
        width: 100%;
    }
  
 
}