.light {
    .homepage {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        vertical-align: middle;
        text-align: center;
        height: 100%;
        width: 100%;
        background-color: transparent;
    }
    .welcomebar {
        z-index: 9;
        display: inline;
        align-items: center;
        vertical-align: middle;
        text-align: center;
        padding: 10px;
        z-index: 9;
        background-color: #ffffff7d;
        border: 1px solid rgb(180, 179, 179);
        border-radius: 25px;
        -moz-border-radius: 15px;
        max-width: 92%;
    }
    .mainbar {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        background-color: transparent; 
    }
    .mainbar h1 {
    background-color: transparent; 
    color: #999999;
    }
    .mainbar :hover {
        color: #5c5c5c;
    }
    .prof {
    background-color: transparent;
    padding: 5px;
    }
    .prof p {
        background-color: transparent;
    }
}


.dark {
    .homepage {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center; 
        vertical-align: middle;
        text-align: center;
        height: 100%;
        width: 100%;
        background-color: rgb(23, 25, 44);
    }
    .welcomebar {
        z-index: 9;
        display: inline;
        align-items: center;
        vertical-align: middle;
        text-align: center;
        padding: 10px;
        z-index: 9;
        background-color: transparent;
        border: 1px solid #cad97c;
        border-radius: 25px;
        -moz-border-radius: 15px;
        max-width: 92%;
    }
    .mainbar {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        background-color: transparent; 
    }
    .mainbar h1 {
    background-color: transparent;
    color: rgb(202, 217, 124);
    }
    .mainbar :hover {
        color: #f7ffcf;
    } 
    .prof {
    background-color: transparent;
    padding: 5px;
    }
    .prof p {
        background-color: transparent;
    }
}