.light {
    background-color: transparent;
    .invisible {
        display: none;
    }
    .svg1 img {
        padding: 8px;
        height: 45px;
        width: 45px;
        background-color: transparent;
    }
    .svg1{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: transparent;
        border: 1px solid #b4b3b3;
        border-radius: 25px;
        -moz-border-radius: 15px;
    }
    .svg1 img:hover{
        border: 1px solid #5c5c5c;
        border-radius: 20px;
        -moz-border-radius: 15px;
        background-color: transparent;
    }
    .homeicons {
        background-color: transparent;
    }
    .homeicons p {
        color: #999999;
        background-color: transparent;
    }
    .slideicon {
        display: flex;
        overflow: auto;
        background-color: transparent;
    }
    .usericon {
        background-color: transparent;
        padding: 6px;
    }
    .aboutcontact {
        background-color: transparent;
        padding: 6px;
    }
}


.dark {
    background-color: transparent;
    .invisible {
        display: none;
    }
    .svg1 img {
        padding: 8px;
        height: 45px;
        width: 45px;
        background-color: transparent;
    }
    .svg1{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: transparent;
        border: 1px solid #cad97c;
        border-radius: 25px;
        -moz-border-radius: 15px;
    }
    .svg1 img:hover {
        border: 1px solid #f7ffcf;
        border-radius: 20px;
        -moz-border-radius: 15px;
        background-color: transparent;
    }
    .homeicons {
        background-color: transparent;
    }
    .homeicons p {
        color: hwb(70 49% 15%);
        background-color: transparent;
    }
    .slideicon {
        display: flex;
        overflow: auto;
        background-color: transparent;
    }
    .usericon {
        background-color: transparent;
        padding: 6px;
    }
    .aboutcontact {
        background-color: transparent;
        padding: 6px;
    }

}