.light {
    background-color: transparent;

    .invisible {
        display: none;
    }
    .svg1 img {
        padding: 3px;
        height: 15%;
        width: 15%;
        background-color: transparent;
    }
    .svg1{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: transparent;
        border: 1px solid #b4b3b3;
        border-radius: 25px;
        -moz-border-radius: 15px;
    }
    .homeicons {
        display: flex;
        background-color: transparent;
        padding: 5px;
    }
    .homeicons p {
        color: #999999;
        background-color: transparent;
    }
    .slideicon {
        border: 1px solid #b4b3b3;
        background-color: transparent;
    }
}


.dark {
    background-color: transparent;
    .invisible {
        display: none;
    }
    .svg1 img {
        padding: 3px;
        height: 15%;
        width: 15%;
        background-color: transparent;
    }
    .svg1{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: transparent;
        border: 1px solid #cad97c;
        border-radius: 25px;
        -moz-border-radius: 15px;
    }
    .homeicons {
        display: flex;
        background-color: transparent;
        padding: 5px;
    }
    .homeicons p {
        color: hwb(70 49% 15%);
        background-color: transparent;
    }
    .slideicon {
        border: 1px solid #cad97c;
        background-color: transparent;
    }
}