.light {

    .icon-bar {
        position: fixed;
        right: 3%;
        top: 3%;
    }

    .linktree-base {
        display:grid;
        grid-template-columns: 15rem 10rem;
        column-gap: 5px;
        row-gap: 50px;
        align-content: center;
        text-align: center;
        justify-content: center;
        padding: 50px;
    }
    .linktree-obj {
        border: 1px solid red;
        grid-column-end: 2;
    }
}
.dark {

}