.light {
    .linktree-base {
        display: flex;
        align-items:flex-end;
        text-align: center;
        background-color: transparent;
        padding: 1%;
    }
    .linktree-obj {
        width: 30%;
        padding: 10px;
        border: 1px solid #b4b3b3;
        border-radius: 10px;
        margin-left: 10%;
    }
    .main-obj {
        text-align: center;
        align-self: center;
        display: flex;
        justify-content: center;
        padding: 5px;
        border: 1px solid #b4b3b3;
        border-radius: 10px;
        background-color: transparent;
    }
    .svg-obj {
        align-self: center;
        padding: 5px;
        border: 1px solid #b4b3b3;
        border-radius: 10px;
        background-color: transparent;
    }
    .ext-obj {
        padding: 5px;
        border: 1px solid #b4b3b3;
        border-radius: 10px;
        background-color: transparent;
    }
    .linktree-date {
        padding-left: 10rem;
    }
}
.dark {

}