.light {
    .homelist {
        background-color: transparent;
    }
    .slots {
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        border: 1px solid #b4b3b3;
        border-radius: 25px;
        -moz-border-radius: 15px;
        background-color: #ffffff7d;
        overflow-x: scroll
    
    }
    .slots p {
        padding: 2rem;
        background-color: transparent;
        color: #999999;
    }
    .out {
        padding: 10px;
        background-color: transparent;
    }
    .out :hover {
        color: #5c5c5c;
    }
}

.dark {
    .homelist {
        background-color: transparent;
    }
    .slots {
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        border: 1px solid #cad97c;
        border-radius: 25px;
        -moz-border-radius: 15px;
        background-color: #3c42218e;
        overflow-x: scroll
    
    }
    .slots p {
        padding: 2rem;
        background-color: transparent;
        color: #cad97c;
    }
    .out {
        padding: 10px;
        background-color: transparent;
    }
    .out :hover {
        color: #fbffe7;
    }
}