.port-component {
    border: 1px solid black;
    padding: 10px;
    display: flex;
    overflow-x: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.port-component::-webkit-scrollbar {
    display: none;
}
.portfolio-base {
    border: 1px solid red;
    text-align: center;
    padding: 5px;
    margin-left: 10px;
    min-width: 200px;
}
.portfolio-header {
    height:max-content;
    border: 1px solid black;
}
.port-head {
    display: flex;
    align-items: center;
    border: 1px solid black;
}
.cutsy {
    justify-content: center;
    height: 20rem;
    border: 1px solid black;
    text-align: center;
    align-items: center;
}