@use '../scss/colors';

.light {

    .switch {
        background-color: transparent;
        justify-content: center;
        text-align: center;
        align-items: center;
        padding: 6px;
    }
    .txt {
        background-color: transparent;
    }
} 
.dark {
    .switch {
        background-color: transparent;
        padding: 6px;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
    .txt {
        background-color: transparent;
    }
}