@use '../scss/colors';

.light {

    .switch {
        background-color: transparent;
    }
    .txt {
        background-color: transparent;
    }
}
.dark {
    .switch {
        background-color: transparent;
    }
}