.light {
    .svg img{
        position: fixed;
        bottom: 5%;
        left: 5%;
        height: 40%;
        width: 40%;
        background-color: transparent;
    }
}


.dark {
    .svg img{
        position: fixed;
        bottom: 5%;
        left: 5%;
        height: 40%;
        width: 40%;
        background-color: transparent;
    }
}