
/* list obj from home page applies toggle for making div visible */
.listobj {
    background-color: transparent;
}
.invisible {
    display: none;
}














.switch {
    justify-content: center;
    align-items: center;
    background-color: transparent;
}  
.switch label {
    margin: 10px;
}






::-webkit-scrollbar {
    width: 100%;
    background-color: transparent;
  } 
/* Track */
::-webkit-scrollbar-track {
box-shadow: inset 0 0 5px grey; 
border-radius: 10px;
width: 80%;
background-color: transparent;
}
/* Handle */
::-webkit-scrollbar-thumb {
background: #a2a2a27d; 
border-radius: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #ababab; 
}